@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-green: #1d9e75;
  --color-green-light: #e1f5ee;
  --color-green-dark: #085041;
  --color-green-mid: #0f6e56;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-dm-sans), 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
